## Right Angle Triangle Shape | Star Pattern

In [1]:
num = int(input("enter the number of rows"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [2]:
num = int(input("enter the noumber of rows"))
k = 1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*", end=" ")
    k = k + 2
    print()

enter the noumber of rows6
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *

## Pyramid Shape

In [3]:
num = int(input("enter the number of rows:"))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter the number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

## Reverse Pyramid Shape

In [1]:
num = int(input("enter the number of rows"))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end= " ")
    for j in range(0,i):
        print("*",end=" ")
    print()

enter the number of rows5
* * * * *
 * * * *
  * * *
   * *
    *

In [15]:
def pyramid(rows):
    for i in range(rows):
        print(""*(rows-i-1)+"* "*(i+1))
    for j in range(rows-1,0,-1):
        print(""*(rows-j)+"* "*(j))
pass

In [17]:
pyramid(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## Right Angle Triangle Shape

In [19]:
num = int(input("enter the number of rows:"))
for i in range(num,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print()

enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

# A-Z patterns

In [13]:
for row in range(7):
    for col in range(5):
        if ((col == 0 or col == 4) and row != 0) or ((row == 0 or row == 3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [49]:
for row in range(7):
    for col in range(5):
        if (col == 0) or ((col == 4) and (row!=0 and row!=3 and row!=6)) or ((row == 0 or row == 3 or row == 6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
****

In [46]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0)):
            print("* ",end="")
        else:
            print(end=" ")
    print()

 * * * *
*
*
*
*
*
 * * * *

In [44]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

In [50]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 or row==3 or row==6):
            print("* ",end="")
        else:
            print(end="")
            
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [52]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 or row==3):
            print("* ",end="")
        else:
            print(end=" ")
    print()

* * * * *
*
*
* * * * *
*
*
*

In [54]:
for row in range(7):
    for col in range(6):
        if (col==0) or (col==4 and (row!=1 and row!=2)) or ((row ==0 or row ==6) and (col>0 and col<4)) or (row == 3 and (col==3 or col== 5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [71]:
for row in range(7):
    for col in range(6):
        if (col==0 or col==5) or (row==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
*    *
*    *
******
*    *
*    *
*    *

In [52]:
for row in range(7):
    for col in range(5):
        if (col==2) or (row==0 or row==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
*****

In [57]:
for row in range(7):
    for col in range(5):
        if (col ==2) or (row ==0 and col!=2) or (row==6 and col==1 or row==6 and col==0 or row==5 and col==0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
* *
***

In [33]:
i = 0
j = 4
for row in range(7):
    for col in range(5):
        if (col==0) or (row==col+2 and col>1):
            print("*",end="")
        elif ((row==i and col==j) and col>0):
            print("* ",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [15]:
for row in range(7):
    for col in range(5):
        if (col ==0) or ((row==6) and col>0) :
            print("* ",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
* * * * *

In [27]:

for row in range(7):
    for col in range(7):
        if (col ==0 or col==6) or ((row==col) and (col>0 and col<4)) or (row==1 and col==5) or (row==2 and col==4):
            print("*",end="")           
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [33]:
for row in range(7):
    for col in range(7):
        if (col==0) or ((row==col) and (col>0 and col<6)) or (col==6):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **
*     *

In [44]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col!=0 and col!=4)):
            print("*",end="")
        else:
            print(end=" ")
            
    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [12]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0) or ((row==3) or (col==4 and row!=4 and row!=5 and row!=6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*
*
*

In [31]:
for row in range(8):
    for col in range(5):
        if ((col==0 or col==4) and (row>0 and row<6)) or ((row==0 or row==6) and (col>0 and col<4)) or (row==5 and col==1) or (row==7 and col==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

In [70]:
for row in range(6):
    for col in range(5):
        if col==0 or (col==4 and (row!=0 and row!=3)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *

In [13]:
for row in range(7):
    for col in range(5):
        if(row==0 or row==3 or row==6) and (col>0 and col<4) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
 ***
    *
    *
 ***

In [18]:
for row in range(7):
    for col in range(5):
        if (col==4) or row==0:
            print("* ",end="")
        else:
            print(end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
    *

In [24]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=6)) or (row==6 and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***

In [11]:
i=0
j=6 
for row in range(4):
    for col in range(7):
        if row==col:
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *

In [25]:
for row in range(6):
    for col in range(7):
        if (col==0 or col==6) or (row==4 and col==1 or row==3 and col==2 or row==2 and col==3) or (col==4 and row==3 or col==5 and row==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
*     *
*  *  *
* * * *
**   **
*     *

In [31]:
i = 0
j = 6

for row in range(7):
    for col in range(7):
        if (row==i and col==j):
            print("*",end="")
            i = i+1
            j=j-1
        elif row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [37]:
i = 0
j = 6
for row in range(7):
    for col in range(7):
        if row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        elif (row==2 and col==2 or row==1 and col==1 or row==0 and col==0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
  *
 *
*

In [50]:
i = 0
j = 6

for row in range(7):
    for col in range(7):
        if row==i and col==j:
            print("*",end=" ")
            i = i+1
            j = j-1
        elif (row==0 or row==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
     *
    *
   *
  *
 *
* ******

In [2]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3 !=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [18]:
str = "NO"
print_N = [[" " for i in range(6)] for j in range(6)]
print_O = [[" " for i in range(6)] for j in range(6)]



# code for N
for row in range(6):
    for col in range(6):
        if col == 0 or col == 5 or row==col:
            print_N[row][col] = "*"
            
            
            
# code for O
for row in range(6):
    for col in range(6):
        if ((row==0 or row==5) and (col!=0 and col!=5)) or (col==0 or col==5) and (row!=0 and row!=5):
            
            print_O[row][col] = "*"
            
for i in range(6):
    for j in range(6):
        print(print_N[i][j],end=" ")
    print(end="  ")       
    for j in range(6):
        print(print_O[i][j],end=" ")
    print()

*         *     * * * *
* *       *   *         *
*   *     *   *         *
*     *   *   *         *
*       * *   *         *
*         *     * * * *

In [28]:
print_M = [[" " for i in range(7)] for j in range(7)]
print_A = [[" " for i in range(7)] for j in range(7)]
print_N = [[" " for i in range(7)] for j in range(7)]
print_O = [[" " for i in range(7)] for j in range(7)]
print_J = [[" " for i in range(7)] for j in range(7)]

# Code for M 
for row in range(7):
    for col in range(7):
        if (col == 0 or col== 6) or ((row==col) and (col>0 and col<4)) or (row==1 and col==5) or (row==2 and col==4):
            print_M[row][col] = "*"
            
# Code for A
for row in range(7):
    for col in range(7):
        if ((col == 0 or col == 4) and row != 0) or ((row == 0 or row == 3) and (col>0 and col<4)):
            print_A[row][col] = "*"
            
# Code for N
for row in range(7):
    for col in range(7):
        if col == 0 or col == 5 or row==col:
            print_N[row][col] = "*"
            
# Code for O
for row in range(7):
    for col in range(7):
        if ((row==0 or row==5) and (col!=0 and col!=5)) or (col==0 or col==5) and (row!=0 and row!=5):
            print_O[row][col] = "*"
            
# Code for J
for row in range(7):
    for col in range(5):
        if (col ==2) or (row ==0 and col!=2) or (row==6 and col==1 or row==6 and col==0 or row==5 and col==0):
            print_J[row][col] = "*"
            
            
            
for i in range(7):
    for j in range(6):
        print(print_M[i][j],end=" ")
    print(end="  ")
    for j in range(6):
        print(print_A[i][j],end=" ")
    print(end="  ") 
    for j in range(6):
        print(print_N[i][j],end=" ")
    print(end="  ") 
    for j in range(6):
        print(print_O[i][j],end=" ")
    print(end="  ") 
    for j in range(6):
        print(print_J[i][j],end=" ")
    print(end="  ") 
print()

*               * * *       *         *     * * * *     * * * * *     * *       *   *       *     * *       *   *         *       *         *   *   *     *       *     *   *     *   *         *       *         *     *       * * * * *     *     *   *   *         *       *         *             *       *     *       * *   *         *       *         *             *       *     *         *     * * * *     *   *         *             *       *     *         *   *         *   * * *

In [37]:
name = ("manoj singh negi")

for i in name:
    print(i)
    if (i=="j"):
        print("\nFirst name is completed")
    elif (i=="h"):
        print("\nMid name is completed")
    if(i=="gi"):
        print("\n Last name is compelted")

m
a
n
o
j

First name is completed

s
i
n
g
h

Mid name is completed

n
e
g
i

In [46]:
for i in range(0,30,3):
    print(i+3)
    i+=3

3
6
9
12
15
18
21
24
27
30